* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad390, #f6d365, #a1c4fd, #c2e9fb);
    color: rgb(64, 53, 53);
    height: 5rem;
    line-height: 5rem;
    text-shadow: rgb(255, 255, 255);
}

.choice {
    height: 110px;
    width: 110px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.choice:hover {
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: #0b0126;
    transition: transform 0.9s ease;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.choice:hover img {
    transform: scale(1.1);
}


.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
    margin: 1rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score #comp-score {
    font-size: 3rem;
    color: #0b0126;
}

.msg-container {
    margin-top: 3rem;
}

#msg {
    background-color: #8d7cbd;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 10px;
}

#main {
    background: linear-gradient(45deg, #c2e9fb, #a1c4fd, #f6d365, #fad390, #fad0c4, #ff9a9e);
    height: 100vh;
    /* make it fill full screen */
}

.reset-container {
    display: flex;
    justify-content: center;
    /* center horizontally */
}

#reset {
    display: block;
    /* make it a block element */
    margin: 2rem auto 0;
    /* auto left/right centers */
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #fa7d81;
    color: white;
    cursor: pointer;
}